<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="funsys" value="https://nuget.pkg.github.com/nulo-ecosystem/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <funsys>
      <add key="Username" value="kastney" />
      <add key="ClearTextPassword" value="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" />
    </funsys>
  </packageSourceCredentials>
</configuration>